.personagens-container {
    display: flex;
    padding: 60px;
    gap: 22px;

}
.container-personagem{
    display: flex;
    background-color: azure;
    color: blue;
    width: 30%;
    height: 40%;
    
}